@if (ViewBag.error != null) {
    <div class="alert alert-danger" role="alert">
        Your passwords must match!
    </div>
}
<h1>@ViewBag.error</h1>
<form method="POST" asp-controller="User" asp-action="SubmitAddUserForm">
    <input type="text" name="username" placeholder="username" value=@ViewBag.username/>
    <input type="email" name="email" placeholder="email address" value=@ViewBag.password/>
    <input type="password" name="password" placeholder="password" />
    <input type="password" name="verify" placeholder="confirm password" />
    <input type="submit" value="Sign up"/>
</form>
